img{
    width: 300px;
    height: 400px;
}

p{
    color: lightseagreen;
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
#heder {
    background-color: mediumblue;
}
.pink{
    background-color: navy;
}